extends ../layout

block content

  .container(ng-controller='newSubjectCtrl')
    form(action="../subject/create",method="post")
      legend Nueva Materia para el semestre {{number}} de {{year}}
      div.col-md-6

        .form-group
          label(for='name') Nombre 
          input#name.form-control( placeholder='Nombre',name='name',required,maxlength='100')

        .form-group
          label(for='code') Sigla
          input#code.form-control(placeholder='Sigla', name='code', required, maxlength='12')

        .form-group
          label(for='area') Área
          select.form-control(ng-model='area', ng-options='area.name for area in areas', name='area')
            option(value="") Seleccione un área

        .form-group
          label(for='core') Núcleo
          select.form-control(ng-model='core', ng-options='core.name for core in cores', name='core')
            option(value="") Seleccione un núcleo

        .form-group
          label(for='pediod') Período
          input#period.form-control(value='Cuatrimestral', name='period', maxlength='100')

        .form-group
          label(for='modality') Modalidad
          select.form-control(ng-model='modality', ng-options='modality.name for modality in modalities', name='modality')
            option(value="") Seleccione una modalidad

        .form-group
          label(for='ocode') Código de Asignatura
          input#name.form-control(placeholder='Código de asignatura', name='ocode', maxlength='100')

        .form-group
          label(for='credits') Créditos
          input#credits.form-control(placeholder='Créditos', name='credits', type='number')

        .form-group
          label(for='capacity') Capacidad
          input#capacity.form-control(placeholder='Capacidad', name='capacity', type='number')

        button.btn.btn-success(type="submit") Crear


