extends layout

block content
  h1 Goya

  h3 Work In progress

  ul
    li
      a(href='/grilla') Grilla (deshabilitar path /grilla, usar /grilla/:semester)

    li
      a(href='/cursos') Cursos

  div(ng-app="indexApp", ng-controller="SemestralGrids")
    ul
      li(ng-repeat='semester in semesters')
        a(ng-href='/grilla/{{semester.code}}') Ir a la grilla del semestre {{semester.semester}} del año {{semester.year}}
