extends layout

block content
	script.
		var semestersJSON=!{JSON.stringify(semesters)};

	.container
		legend Seleccione un semestre
		div( ng-controller="SemestralGrids")
			div(ng-repeat='semester in semesters')
				div(ng-if="semester.year == year && semester.semester == number ")
					a.list-group-item(ng-click='currentSemester(semester.year,semester.semester)',ng-href='#',ng-style="{'background-color':'#5bc0de',color:'white'}") Semestre {{semester.semester}} del año {{semester.year}}
				div(ng-if=" !(semester.year == year && semester.semester == number)")
					a.list-group-item(ng-click='currentSemester(semester.year,semester.semester)',ng-href='#') Semestre {{semester.semester}} del año {{semester.year}}
		br
		button.btn.btn-success(type="button")	Nuevo