extends layout

block content
  h1 Goya

  h3 Work In progress

  ul
    li
      a(href='/grilla') Grilla

    li
      a(href='/cursos') Cursos

  div(ng-app="indexApp", ng-controller="SemestralGrids")
    ul
      li(ng-repeat='semester in semesters')
        a(ng-href='/grilla/{{semester.code}}') Grilla {{semester.code}}
