doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='js/angular/angular.min.js')
    script(src='js/angular/controllers.js')
  body
    block content