doctype html
html(ng-app="APP")
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css',media='screen')
		script(src='/js/lib/jquery.min.js')
		script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
		script(src='/js/lib/jquery-ui.custom.min.js')
		title= title
		script(src='/js/angular/angular.min.js')
		script(src='/js/angular/angular-local-storage.min.js')
		script(src='/js/fullcalendar/calendar.js')
		script(src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js')
		script(src='/js/angular/controllers.js')

	body(ng-controller='WebController')
		.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					a.navbar-brand(href='#') Goya
						span.glyphicon.glyphicon-book.icon-main
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active
							a(href='../../../') Home
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown') Administrar
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='../../../course/list/{{year}}/{{number}}') Cursos
								li
									a(href='../../../classroom/list/{{year}}/{{number}}') Aulas
								li
									a(href='../../../teacher/list/{{year}}/{{number}}') Profesores
								li
									a(href='../../../subject/list') Materias
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown') Vistas
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='../../../grid/{{year}}/{{number}}') Cursos
								li
									a(href='../../../grid/classrooms/{{year}}/{{number}}') Aulas
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown') Reportes
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='../../../report/offer/{{year}}/{{number}}') Oferta académica
								li
									a(href='#') Reporte 1
								li
									a(href='#') Reporte 2
						li
							a(href='#contact') Contact
					.pull-right 
						div(style="margin:15px;margin-right:32px;color:white") Bienvenido al semestre {{number}} del {{year}}
		if feedbackpanel != undefined				
			.container
				.alert.alert-success.alert-dismissible(role='alert')
					button.close(type='button', data-dismiss='alert')
						span(aria-hidden='true') ×
						span.sr-only Close
					strong  
						div !{feedbackpanel.msj}
		block content