extends ../layout

block content

	script(src='/js/angular/controllers/teacher/list.js')

	.container(ng-controller="listTeachersCtrl" ng-init='teachers=#{JSON.stringify(teachers)}')

		div!= messages()

		legend Seleccione un profesor

		div(ng-repeat='teacher in teachers track by $index')
			div
				.list-group-item {{teacher.name}} - {{teacher.code}}
					a(ng-href='/teacher/edit/{{teacher.id}}')
						button.btn.btn-xs.btn-info.pull-right.button-option
							span.glyphicon.glyphicon-edit
					button.btn.btn-xs.btn-danger.pull-right.button-option(ng-click="removeTeacher(teacher, $index)")
						span.glyphicon.glyphicon-remove

		br
		a.btn.btn-success(href='/teacher/new') Nuevo
  
  
