extends ../layout

block content
	script.
		function teachers($scope){
			
			$scope.teachers=!{JSON.stringify(teachers)};
			
		}
	.container
		legend Seleccione un profesor
		div( ng-controller="teachers")
			div(ng-repeat='teacher in teachers')
				div
					a.list-group-item {{teacher.name}} - {{teacher.code}}
						button.btn.btn-xs.btn-info.pull-right.button-option
							span.glyphicon.glyphicon-edit
						button.btn.btn-xs.btn-danger.pull-right.button-option
							span.glyphicon.glyphicon-remove

		br
		a.btn.btn-success(href='../../../teacher/new')	Nuevo
  
  
