extends ../layout

block content
	.container
		form(action="../teacher/create",method="post")
			legend Nuevo Profesor
			div.col-md-4
				.form-group
					label(for='name') Nombre 
					input#name.form-control(placeholder='Nombre',name='name',required,maxlength='20')
				.form-group
					label(for='code') Codigo
					input#code.form-control(placeholder='Codigo',name='code',required,maxlength='12')
				legend Requisitos
				.form-group
					label(for='numberOfComputers') Computadoras
					input#numberOfComputers.form-control(type="number",min="0", placeholder='Cantidad de computadoras',name='numberOfComputers',required,maxlength='12')
				.form-group
					label(for='others') Otros
					textarea#others.form-control(placeholder='Otros',name='others',required,maxlength='12')
				button.btn.btn-success(type="submit")	Crear


