body {
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	background: url('/images/fondo.png')
}
		
.wrap {
	width: 100%;
	margin: 0 auto;
}
	
.external-events {
	padding:10px 10px 10px 10px;
	background: #eee;
	text-align: left;
	margin-top:42px;
	margin-left:8px;
	border:1px solid black;
	border-radius: 10px 10px 10px 10px;
}
		
.external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}
		
.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
}
		
.external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
	
}
		
.external-events p input {
	margin: 0;
	vertical-align: middle;
	
}

#calendar {
	float: right;
	width: 80%;	
	margin-top:42px;
	background:white;
	margin-bottom:15px;
	margin-right:8px;
       -webkit-box-shadow: 1px 1px 18px 0px rgba(48, 50, 50, 1);
       -moz-box-shadow:    1px 1px 18px 0px rgba(48, 50, 50, 1);
        box-shadow:         1px 1px 18px 0px rgba(48, 50, 50, 1);
}
	
#left-options{
	float: left;
	width: 15%;	
	
}
