extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/report/offer.css')
  script(src='/js/lib/jquery.printThis.js')
  script.
    
    app.controller('offerCtrl', function ($scope, localStorageService, subjectService) {

      $scope.semester = !{JSON.stringify(semester)};

      $scope.courses = $scope.semester.courses.filter(shouldDisplayCourse)

      var weekday = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"]

      $scope.scheduleView = function(schedule) {
        //para calcular la hora final,teniendo en cuenta las media horas
        seconds=Math.abs(schedule.durationMinutes +schedule.minutes +(schedule.hour*60)+ (schedule.durationHour * 60) )*60;
        hourDuration=Math.abs(parseInt(seconds/3600));
        minutesDuration=Math.abs(parseInt((seconds-(3600*hourDuration))/60));

        return schedule.hour > 0 ?
          weekday[schedule.day]+" "+schedule.hour+":"+addZero(schedule.minutes)+" a "+addZero(hourDuration)+":"+addZero(minutesDuration) :
          ""
      }
  
      function addZero(number) {
        if( number == 0){
          return number+"0";
        };
        return number;
      }

      $scope.classroomView = function(schedule) {
        return schedule.hour > 0 && schedule.semesterClassRoom ?
          schedule.semesterClassRoom.classRoom.number :
          ''
      }

      $scope.getArea = function(index) {
        return subjectService.areas[index].name
      }

      $scope.getCore = function(index) {
        return subjectService.cores[index].name
      }

      $scope.getModality = function(index) {
        return subjectService.modalities[index].name
      }

      function shouldDisplayCourse(course, index, ar) {
        if(course.schedules.length == 0) {
          return false
        }

        var someHour = false
        for (var i = course.schedules.length - 1; i >= 0; i--) {
          someHour = someHour || course.schedules[i].hour > 0
        }

        return someHour
      }
    })

  .container(ng-controller='offerCtrl')

    legend Generar reporte de Oferta Académica para el {{number}}º semestre de {{year}}

    div#report

      p#title(contenteditable="true") Oferta {{number}}º cuatrimestre de {{year}}
      p#title(contenteditable="true") Departamento: Ciencia y Tecnología
      p#title(contenteditable="true") Carrera: Tecnicatura en Programación Informática

      table#offer
        thead
          tr: th Área
              th Núcleo
              th Período
              th Modalidad
              th.col-md-1 Código Asignatura
              th Nombre Asignatura
              th Créditos
              th.col-md-2 Días y Horarios {{year}}
              th.col-md-2 Docente/s (Apellido y nombre completo)
              th Inscritos
              th Cupo
              th Aulas requeridas
              th Grupo Carreras
              th.col-md-1 Nueva Asignatura Indicar para que Plan de Estudios se oferta
        tbody
          tr(ng-repeat='course in courses')
            td(contenteditable="true") {{getArea(course.subject.area) || '-'}}
            td(contenteditable="true") {{getCore(course.subject.core) || '-'}}
            td(contenteditable="true") {{course.subject.period || '-'}}
            td(contenteditable="true") {{getModality(course.modality) || '-'}}
            td(contenteditable="true") {{course.subject.ocode || '-'}}
            td(contenteditable="true") {{course.subject.name}}
            td(contenteditable="true") {{course.subject.credits || '-'}}
            td(contenteditable="true")
              div(ng-repeat='schedule in course.schedules')
                {{scheduleView(schedule)}}
            td(contenteditable="true") {{course.semesterTeachers[0].teacher.name || 'A designar'}}
            td(contenteditable="true") {{course.enrolled || '-'}}
            td(contenteditable="true") {{course.capacity || '-'}}
            td(contenteditable="true")
              div(ng-repeat='schedule in course.schedules')
                {{classroomView(schedule)}}
            td(contenteditable="true") P
            td(contenteditable="true") No

    br
    button.btn.btn-success(onclick="$('#report').printThis()") Imprimir
