extends ../layout

block content
	.container
		form(action="../classroom/create",method="post")
			legend Nueva Aula para el semestre {{number}} de {{year}}
			div.col-md-4
				.form-group
					label(for='name') Nombre 
					input#name.form-control( placeholder='Nombre',name='name',required,maxlength='20')
				.form-group
					label(for='number') Número
					input#number.form-control( placeholder='Numero',name='number',required,maxlength='25')
				.form-group
					label(for='capacity') Capacidad
					input#capacity.form-control(type='number',min='0',placeholder='Capacidad',name='capacity',required,maxlength='25')
				.form-group
					label(for='numberOfComputers') Cantidad de computadoras
					input#numberOfComputers.form-control(type='number',min='0',value='0',placeholder='Cantidad de computadoras',name='numberOfComputers',required,maxlength='25')
				form-control
					label(for='hasProyector') Tiene proyector
					input#hasProyector.pull-right(name="hasProyector",type="checkbox",value="false")
				.form-group
					br
					label(for='description') Descripción
					textarea#description.form-control(placeholder='Descripción',name='description',required,maxlength='25')
				.form-group.hidden
					input.form-control(value='{{ number}}',name='semester',type="number")
					input.form-control(value='{{ year}}',name='year',type="number")
				button.btn.btn-success(type="submit") Crear


