extends layout

block content
  link(rel='stylesheet', href='/stylesheets/fullcalendar/fullcalendar.css')
  link(rel='stylesheet', href='/stylesheets/grilla.css')
  script(src='/js/lib/jquery.min.js')
  script(src='/js/lib/jquery-ui.custom.min.js')
  
  div#wrap
   div#left-options
    div.external-events
     div#events
      h4 Cursos
      each curso in datos.cursos
        a(href=("cursos/" + curso.code + "/" + curso.comision))
          div.external-event #{curso.code} comision #{curso.comision}

