extends ../layout

block content
	link(rel='stylesheet', href='/stylesheets/fullcalendar/fullcalendar.css')
	link(rel='stylesheet', href='/stylesheets/fullcalendar/fullcalendar.print.css',media='print')
	script(src='/js/lib/jquery.ui.droppable.js')
	script(src='/js/fullcalendar/fullcalendar.js')
	script.
		var semesterJSON=!{JSON.stringify(semester)};
		$(window).resize(function () {
			$("#grid").css("width", "100%");
			$("#grid").width($("#grid").width());
		});
	script(src='/js/calendarioAcademico/academicCalendar.js')
	div(ng-controller='CalendarCtrl')
		.row
			.col-md-2.col-md-2
					div
						div#menu-courses(class="panel panel-default size-menu ")
							div.panel-heading Horarios de cursos
								button.btn.btn-default.btn-xs.pull-right
									span.glyphicon.glyphicon-search
							.size-menu-height
								div(ng-repeat="courseNotAssigned in infoCoursesNotAssigned track by $index")
									div(class="dragg-course list-group-item",draggable-course,dragg-model="courseNotAssigned"){{courseNotAssigned.course.subject.code}} {{courseNotAssigned.schedule.type}}
						div(class="panel panel-default size-menu ")
							div.panel-heading Aulas
								button.btn.btn-default.btn-xs.pull-right
									span.glyphicon.glyphicon-search
							.size-menu-height
								div(style="position:relative",ng-repeat="classRoom in classRooms track by $index")
									div.dragg-class-room.size-menu(ng-model="classRoom",dragg-class-room).list-group-item {{classRoom.number}}
						div(class="panel panel-default size-menu ")
							div.panel-heading Profesores
								button.btn.btn-default.btn-xs.pull-right
									span.glyphicon.glyphicon-search
							.size-menu-height
								div.scroll-menu(style="position:relative",ng-repeat="teacher in teachers track by $index")
									div(class="list-group-item size-menu",class="dragg-teacher",dragg-teacher,ng-model="teacher"){{teacher.name}}
			.col-md-10.col-md-10
					div
						.calendar(ng-model='eventSources', calendar='myCalendar', config='uiConfig.calendar', ui-calendar='uiConfig.calendar', id='grid')
		//Modal de cursos 
		#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header.header-color-blue
						button.close(type='button', data-dismiss='modal')
							span(aria-hidden='true') ×
							span.sr-only Close
						h4#myModalLabel.modal-title {{courseShow.course.subject.name}} - {{courseShow.schedule.type}} - Comision {{courseShow.course.commission}}
					.modal-body 
						.row.list-group
							div.list-group-item 
								b Aula
								&nbsp; {{courseShow.schedule.classRoom.number}}
								button.btn.btn-xs.btn-danger.pull-right(type="button",ng-click="deallocateClassroom()")
										span.glyphicon.glyphicon-remove
						.row.panel.panel-default
							.panel-heading Profesores a cargo del curso
							div.list-group-item(ng-repeat="teacher in courseShow.course.courseTeacher track by $index")
								div{{teacher.name}} 
									button.btn.btn-xs.btn-danger.pull-right(type="button",ng-click="deallocateCourseTeacher(teacher.id,$index)")
										span.glyphicon.glyphicon-remove
						.row.panel.panel-default
							.panel-heading Profesores no a cargo del curso
							div.list-group-item(ng-repeat="teacher in courseShow.course.courseInstructor track by $index")
								div	{{teacher.name}}
									button.btn.btn-xs.btn-danger.pull-right(type="button",ng-click="deallocateCourseInstructor(teacher.id,$index)")
										span.glyphicon.glyphicon-remove
						.row.panel.panel-default
							.panel-heading Profesores asignados a este horario
							div.list-group-item(ng-repeat="teacher in courseShow.schedule.teachers track by $index")
								div	{{teacher.name}}
									button.btn.btn-xs.btn-danger.pull-right(type="button",ng-click="deallocateScheduleTeacher(teacher.id,$index)")
										span.glyphicon.glyphicon-remove
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
						button.btn.btn-danger(type='button',ng-click="remove()") Eliminar
						
		//Modal para asignar un profesor a un curso
		#assingTeacherCourse.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog(ng-init="isInCharge=1")
				.modal-content
					.modal-header.header-color-blue
						button.close(type='button', data-dismiss='modal')
							span(aria-hidden='true') ×
							span.sr-only Close
						h4#myModalLabel.modal-title ¿Como deseas asignar a este profesor?
					.modal-body 
						row.form-control
							.col-lg-4
								div Profesor a cargo
									input.pull-right(ng-model="isInCharge",type="radio",value="0")
							.col-lg-4
								div Profesor no a cargo
									input.pull-right(ng-model="isInCharge",type="radio",value="1")
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
						button.btn.btn-primary(type='button',ng-click="assignedTeacherToCourse(isInCharge)") Aceptar
						
		//Modal para crear un curso
		#createCourseModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal')
							span(aria-hidden='true') ×
							span.sr-only Close
						h4#myModalLabel.modal-title Crear cursos
					.modal-body 
						div.form-horizontal
							form-group.form-group
								.input-group.input-group-sm
										b Codigo
										input.form-control(type='text', placeholder='Codigo')
										b Tipo
										select.form-control
											option Practica
											option Teorica
											option Teorica/practica
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button',ng-click="createCourse()") Save


	script(src='/js/lib/jquery.print.js')
	script(src='/js/lib/jquery.printThis.js')
	script(src='/js/lib/jquery.printArea.js')
	script(src='/js/lib/jquery.printElement.js')
	button(onclick="$.print('#grid')") Imprimir (print)
	button(onclick="$('#grid').css('width', '100%');$('#grid').width($('#grid').width());$('#grid').printThis()") Imprimir (printThis, el mejor)
	button(onclick="$('#grid').printArea()") Imprimir (printArea, no anda)
	button(onclick="$('#grid').printElement()") Imprimir (printElement)
