extends ../layout

block content
	script.
		
		app.controller('createCourseCtrl', function ($scope,localStorageService) {

			$scope.subjects=!{JSON.stringify(subjects)};
			$scope.hours = [];
			for(i=8;i<23;i++){
				$scope.hours.push(i);
			}
			$scope.durations = [];
			for(i=0;i<7;i++){
				$scope.durations.push(i);
			}
			$scope.days = [{name:'Lunes',id:0},
							{name:'Martes',id:1},
							{name:'Miercoles',id:2},
							{name:'Jueves',id:3},
							{name:'Viernes',id:4},
							{name:'Sabado',id:5}];
			$scope.schedules = [];
			$scope.remove=function(index){
				$scope.schedules.splice(index,1);
			}
			$scope.add=function(hour,duration,day,id){
				if(hour != undefined  && 
				duration != undefined && 
				day != undefined && 
				id != undefined && 
				!isRepeat(hour,duration,day)){
					$scope.schedules.push({day:day,id:id,hour:hour,duration:duration});
				}
				
			}
			function isRepeat(hour,duration,day){
				for(i =0;i < $scope.schedules.length;i++){
				schedule=$scope.schedules[i];
					if(schedule.day == day && schedule.hour == hour && schedule.duration == duration){
						return true;
					}
				};
				return false;
			}
		})
	.container(ng-controller='createCourseCtrl')
		form(action="../course/create",method="post")
			legend Nuevo Curso
			div.col-md-4
				.form-group
					label(for='selectSubject') Materia
					select#selectSubject(class="form-control",ng-model="subject",ng-options="subject.name for subject in subjects",required)
						option(value="") Seleccione una materia
					input(name="idSubject",value="{{subject.id}}",hidden)
				legend Horarios
				.form-group
					label Horarios seleccionados
					div(class="form-control",ng-repeat="schedule in schedules track by $index")
						div El dia {{schedule.day}} a las {{schedule.hour}} durante {{schedule.duration}} horas
							button.btn.btn-xs.btn-danger.pull-right(type="button",ng-click="remove(index)")
								span.glyphicon.glyphicon-remove
					br
					br
					label Nuevo Horario
					select(class="form-control",ng-model="hour",ng-options="hour for hour in hours")
						option(value="") Seleccione una hora de inicio
					br
					select(class="form-control",ng-model="duration",ng-options="duration for duration in durations")
						option(value="") Seleccione una duracion en horas
					br
					select(class="form-control",ng-model="day",ng-options="day.name for day in days")
						option(value="") Seleccione un dia de la semana
					br
					button.btn.btn-success.pull-right(type="button",ng-click="add(hour,duration,day.name,day.id)") Agregar
				legend Requisitos
				.form-group
					label(for='numberOfComputers') Computadoras
					input#numberOfComputers.form-control(type="number",min="0", placeholder='Cantidad de computadoras',name='numberOfComputers',required,maxlength='12')
				button.btn.btn-success(type="submit") Crear


