extends ../layout

block content

	.container(ng-controller='createCourseCtrl', ng-init='subjects = #{JSON.stringify(subjects)}')
		form(action="../course/create",method="post")
			legend Nuevo curso para el semestre {{number}} de {{year}}
			div.col-md-6
				.form-group
					label(for='selectSubject') Materia
					select#selectSubject(class="form-control",ng-model="subject",ng-options="subject.name for subject in subjects",required)
						option(value="") Seleccione una materia
					input(name="idSubject",value="{{subject.id}}",hidden)


				legend Comisión
				.form-group
					label(for='commission') Número
					input#commission.form-control(type="number", min="1", placeholder='Número de comision', name='commission', required)
					
				.form-group
					label(for='nick') Apodo
					input#nick.form-control(placeholder='Apodo del curso (ej: EPA para EPERS-C1)', name='nick', maxlength='12')

				.form-group
					label(for='modality') Modalidad
					select.form-control(ng-model='modality', ng-options='modality.name for modality in modalities', name='modality')
						option(value="") Seleccione una modalidad

				.form-group
					label(for='capacity') Capacidad
					input#capacity.form-control(placeholder='Capacidad', name='capacity', type='number')


				legend Horarios
				.form-group
					label Horarios seleccionados
					div(class="form-control",ng-repeat="schedule in schedules track by $index")
						div El dia {{schedule.day}} a las {{schedule.hour}} durante {{schedule.duration}} horas
							button.btn.btn-xs.btn-danger.pull-right(type="button",ng-click="remove(index)")
								span.glyphicon.glyphicon-remove
							input.hidden(name="duration",type="number",value="{{schedule.duration}}")
							input.hidden(name="day",type="number",value="{{schedule.id}}")
							input.hidden(name="hour",type="number",value="{{schedule.hour}}")
					br
					br
					label Nuevo Horario
					select(class="form-control",ng-model="hour",ng-options="hour for hour in hours")
						option(value="") Seleccione una hora de inicio
					br
					select(class="form-control",ng-model="duration",ng-options="duration for duration in durations")
						option(value="") Seleccione una duracion en horas
					br
					select(class="form-control",ng-model="day",ng-options="day.name for day in days")
						option(value="") Seleccione un dia de la semana
					br
					button.btn.btn-success.pull-right(type="button",ng-click="add(hour,duration,day.name,day.id)") Agregar

			div.col-md-6
				legend Requisitos
				.form-group
					label(for='numberOfComputers') Computadoras
					input#numberOfComputers.form-control(type="number",min="0", placeholder='Cantidad de computadoras',name='numberOfComputers',required,maxlength='12', value='0')
				.form-group.hidden
					input.form-control(value='{{ number}}',name='semester',type="number")
					input.form-control(value='{{ year}}',name='year',type="number")


				legend Características visuales
				.form-group
					label(for='color') Color
					select#color(class="form-control",ng-model="color",ng-options="color.name for color in colors")
						option(value="") Seleccione un color para la grilla
						input(name="color", value="{{color.value}}", hidden)

				button.btn.btn-success(type="submit") Crear
				a.btn.btn-danger(href='/course/list/{{year}}/{{number}}') Cancelar


