extends ../layout

block content
	script(src='/js/angular/angular.min.js')
	script.
		var app=angular.module('APP', []);
		
		app.controller('createCourseCtrl', function ($scope) {
			$scope.subjects=!{JSON.stringify(subjects)};
		})
	.container(ng-controller='createCourseCtrl')
		form(action="../course/create",method="post")
			legend Nuevo Curso
			div.col-md-4
				.form-group
					label(for='selectSubject') Materia
					select#selectSubject(class="form-control",ng-model="subject",ng-options="subject.name for subject in subjects",required)
						option(value="") Seleccione una materia
					input(name="idSubject",value="{{subject.id}}",hidden)
				legend Requisitos
				.form-group
					label(for='numberOfComputers') Computadoras
					input#numberOfComputers.form-control(type="number",min="0", placeholder='Cantidad de computadoras',name='numberOfComputers',required,maxlength='12')
				button.btn.btn-success(type="submit") Crear


