extends ../layout

block content
	link(rel='stylesheet', href='/stylesheets/fullcalendar/fullcalendar.css')
	link(rel='stylesheet', href='/stylesheets/fullcalendar/fullcalendar.print.css',media='print')
	div(ng-controller='CalendarCtrl')
		.row
			.col-md-2.col-md-2
					div
						// Menu Cursos
						div.panel.panel-default.size-menu#menu-courses
							div.panel-heading Horarios de cursos
								button.btn.btn-default.btn-xs.pull-right(ng-show='showSearchCourse')
									span.glyphicon.glyphicon-search
							.size-menu-height
								div(ng-repeat="courseNotAssigned in infoCoursesNotAssigned track by $index")
									div.dragg-course.item-grid.list-group-item(data-target='#myModal' data-toggle='modal' ng-click='showCoursesNotAssigned($index)' draggable-course dragg-model="courseNotAssigned"){{courseNotAssigned.schedule.courses[0].subject.nick}} {{courseNotAssigned.schedule.type}} {{courseNotAssigned.schedule.getCommissions()}}

						// Menu Aulas
						div.panel.panel-default.size-menu
							div.panel-heading Aulas
								button.btn.btn-default.btn-xs.pull-right(ng-show='showSearchClassroom')
									span.glyphicon.glyphicon-search
							.size-menu-height
								div(style="position:relative" ng-repeat="classRoom in semester.classRooms | orderBy:'number' track by $index")
									div.dragg-class-room.size-menu.item-grid(ng-model="classRoom" dragg-class-room).list-group-item {{classRoom.number}}

						// Menu Profesores
						div.panel.panel-default.size-menu
							div.panel-heading Profesores
								button.btn.btn-default.btn-xs.pull-right(ng-show='showSearchTeacher')
									span.glyphicon.glyphicon-search
							.size-menu-height
								div.scroll-menu(style="position:relative" ng-repeat="teacher in semester.teachers | orderBy:'name' track by $index")
									div.dragg-teacher.list-group-item.size-menu.item-grid(ng-init="teacher.hasCurrentSemesterTeachers=hasCurrentSemesterTeachers(teacher)" data-target='#modal-teacher' dragg-teacher data-toggle='modal' ng-model="teacher"){{teacher.name}}
										span(ng-if="!teacher.hasCurrentSemesterTeachers" ng-model="teacher.hasCurrentSemesterTeachers")
											span.pull-right.glyphicon.glyphicon-warning-sign.notify-danger(title="Este profesor no fué asignado a ningun curso") 

						// Menu Filtros
						div.panel.panel-default.size-menu(ng-show="showFilters")
							div.panel-heading Filtros
							div
								select(ng-model='filterColor' ng-options='color.name for color in colors' ng-change='changeFilterColor(filterColor)')
									option(value='') Filtrar por color
	

			// Grilla
			.col-md-10.col-md-10
				div.calendar(ng-model='eventSources' calendar='myCalendar' config='uiConfig.calendar' ui-calendar='uiConfig.calendar' id='grid')
				button.btn.btn-primary.pull-left.btn-print(onclick="$('#grid').css('width', '100%');$('#grid').width($('#grid').width());$('#grid').printThis()") Imprimir grilla
		//Modal de cursos 
		#myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header.header-color-blue
						button.close(type='button' data-dismiss='modal')
							span(aria-hidden='true') ×
							span.sr-only Close
						h4#myModalLabel.modal-title {{scheduleShow ? scheduleShow.schedule.courses[0].subject.name : ''}} - {{scheduleShow ?  scheduleShow.schedule.type : ''}}  {{ scheduleShow ? scheduleShow.schedule.getCommissions() : ''}}
					.modal-body 
						.row.panel.panel-default
							.panel-heading Comisiones del horario
							div.list-group-item(ng-repeat="course in scheduleShow.schedule.courses track by $index")
								div C{{course.commission}}
									a.btn.btn-xs.btn-info.pull-right.button-option(href="../../../course/edit/{{course.id}}" title="Editar comisión")
										span.glyphicon.glyphicon-edit
									button.btn.btn-xs.btn-danger.pull-right.button-option(title="Quitar comisión" ng-click="separateSchedules($index)" ng-show='scheduleShow.schedule.courses.length > 1')
										span.glyphicon.glyphicon-remove
						.row.list-group(ng-show='hasClassroom()')
							div.list-group-item 
								b Aula
								&nbsp; {{scheduleShow.schedule.semesterClassRoom.classRoom.number}}
								button.btn.btn-xs.btn-danger.pull-right(type="button" ng-click="deallocateClassroom()")
										span.glyphicon.glyphicon-remove
						.row.list-group
							div.list-group-item 
								b Ocultar
									input.pull-right(type="checkbox" ng-click="hideSchedule()" ng-checked="!scheduleShow.schedule.patch.visibility")
						.row.panel.panel-default
							.panel-heading Profesores a cargo del curso
							div.list-group-item(ng-repeat="semesterTeacher in scheduleShow.schedule.getTeachers() track by $index")
								div{{semesterTeacher.teacher.name}} 
									button.btn.btn-xs.btn-danger.pull-right(type="button" ng-click="deallocateCourseTeacher(semesterTeacher.teacher.id,semesterTeacher)")
										span.glyphicon.glyphicon-remove
						.row.panel.panel-default
							.panel-heading Profesores no a cargo del curso
							div.list-group-item(ng-repeat="semesterTeacher in scheduleShow.schedule.getInstructors() track by $index")
								div	{{semesterTeacher.teacher.name}}
									button.btn.btn-xs.btn-danger.pull-right(type="button" ng-click="deallocateCourseInstructor(semesterTeacher.teacher.id,semesterTeacher)")
										span.glyphicon.glyphicon-remove
						.row.panel.panel-default
							.panel-heading Profesores asignados a este horario
							div.list-group-item(ng-repeat="semesterTeacher in scheduleShow.schedule.semesterTeachers track by $index")
								div	{{semesterTeacher.teacher.name}}
									button.btn.btn-xs.btn-danger.pull-right(type="button" ng-click="deallocateScheduleTeacher(semesterTeacher.teacher.id,$index)")
										span.glyphicon.glyphicon-remove
									button.btn.btn-xs.btn-default.pull-right.button-option(type="button" ng-click="hideTeacher(semesterTeacher.teacher)")
										div(ng-if="!isHideTeacher(semesterTeacher.teacher)")
											span.glyphicon.glyphicon-eye-close
										div(ng-if="isHideTeacher(semesterTeacher.teacher)")
											span.glyphicon.glyphicon-eye-open
						.row.panel.panel-default
							.panel-heading  Opciones avanzadas - Solo aplican en la grilla
								a(data-toggle="collapse" href="#collapseAdvancedOptions")
									button.btn.btn-xs.btn-default.pull-right(type="button")
										span.glyphicon.glyphicon-plus
							div.panel-collapse.collapse(id="collapseAdvancedOptions")
								div.panel-body
									row
										.content-row
											form(ng-submit="updatePatch()")
												.col-lg-6
													.form-group
														label(for='extraHour') Horario de inicio extra
														input#extraHour.form-control(type="number" ng-model="newPatchExtras.extraHour" ng-value="scheduleShow.schedule.patch.extraHour" step="0.5" name="extraHour")
												.col-lg-6
													.form-group
														label(for='extraDuration') Horas de duracion extra
														input#extraDuration.form-control(type="number" ng-model="newPatchExtras.extraDuration" ng-value="scheduleShow.schedule.patch.extraDuration" step="0.5" name="extraDuration")
													button.pull-right.padding-bottom-button.btn.btn-success(type="submit") Guardar
					.modal-footer
						button.btn.btn-default(type='button' data-dismiss='modal') Cerrar
						button.btn.btn-danger(type='button' ng-click="remove()" ng-show='hasSchedule()') Eliminar
						
		//Modal para asignar un profesor a un curso
		#assingTeacherCourse.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
			.modal-dialog(ng-init="isInCharge=2")
				.modal-content
					.modal-header.header-color-blue
						button.close(type='button' data-dismiss='modal')
							span(aria-hidden='true') ×
							span.sr-only Close
						h4#myModalLabel.modal-title ¿Cómo deseas asignar a este profesor?
					.modal-body 
						row.form-control
							.col-lg-4
								div Profesor a cargo
									input.pull-right(ng-model="isInCharge" type="radio" value="0")
							.col-lg-4
								div Profesor no a cargo
									input.pull-right(ng-model="isInCharge" type="radio" value="1")
							.col-lg-4
								div Profesor del horario
									input.pull-right(ng-model="isInCharge" type="radio" value="2")
					.modal-footer
						button.btn.btn-default(type='button' data-dismiss='modal') Cancelar
						button.btn.btn-primary(type='button' ng-click="assignedTeacherToCourse(isInCharge)") Aceptar
						
		//Modal para mostrar resultados de validaciones 
		#errorNotify.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
			.modal-dialog(ng-init="isInCharge=2")
				.modal-content
					.modal-header.header-color-red
						button.close(type='button' data-dismiss='modal')
							span(aria-hidden='true') ×
							span.sr-only Close
						h4#myModalLabel.modal-title Notificación
					.modal-body 
						{{error}}
					.modal-footer
						button.btn.btn-primary(type='button' data-dismiss='modal') Aceptar
						
	script(src='/js/lib/jquery.printThis.js')
	script(src='/js/lib/jquery.ui.droppable.js')
	script(src='/js/fullcalendar/fullcalendar.js')
	script.
		var semesterJSON=!{JSON.stringify(semester)};
		$(window).resize(function () {
			$("#grid").css("width", "100%");
			$("#grid").width($("#grid").width());
		});
	script(src='/js/angular/directives.js')

