extends ../layout

block content

	script(src='/js/angular/controllers/semester/semester.js')

	.container(ng-controller='semesterCtrl' ng-init='init(#{JSON.stringify(semester)}, #{JSON.stringify(semesters)})')

		div!= messages()

		form(action="../semester/create" method="post")
			legend Nuevo Semestre

			div.col-md-4
				.form-group
					label(for='year') Año 
					input#year.form-control(ng-model='semester.year' placeholder='Año'
						type="number" min="0" name='year' required maxlength='100')

				.form-group
					label(for='semester') Semestre 

					div.form-control
						.col-lg-4
							div 1ro
								input.pull-right(ng-model='semester.semester' name='semester' type='radio' value='1')
						.col-lg-4
							div 2do
								input.pull-right(ng-model='semester.semester' name='semester' type='radio' value='2')

				.form-group
					label(for='duplicateSemester') Duplicar datos de un semestre anterior
					select.form-control(ng-model='duplicateSemester' ng-options='duplicateSemester.getDescription() for duplicateSemester in semesters')
						option(value='') Seleccione un semestre
						input(name='idDuplicateSemester' value='{{duplicateSemester.id}}' hidden)

				br
				button.btn.btn-success(type='submit')	{{isEditing() ? 'Editar' : 'Crear'}}
				a.btn.btn-danger(href='/') Cancelar
